<div class="header">
  <!--
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  -->
  <h3 class="text-muted">snapppt</h3>
</div>

<h2>Create a presentation that can only be seen once.</h2>
<div ng-controller="UploadCtrl">
  <div class="jumbotron upload" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="upload-drag-over"
    ng-file-drop-available="dropSupported=true">
    <div>
      <button class="btn file-select">
        Choose File
        <input type="file" ng-file-select="onFileSelect($files)">
      </button><input type="text" class="file-name" ng-model="file.name" readonly="true"/>
    </div>
    <div class="drag-n-drop" ng-show="dropSupported">or drag-n-drop a presentation (ppt, pdf, etc) here</div>
    <button ng-click="upload.abort()" ng-show="upload">Cancel Upload</button>
    <button class="btn btn-lg btn-success" ng-hide="upload" ng-click="doUpload()" ng-disabled="!file">Upload Presentation!</button>
  </div>
</div>
