<div class="slideshow">
  <div class="center">
    <div class="slide" ng-repeat="_ in fakeArray track by $index" ng-show="$index == activeSlide - 1" style="background-image: url('/image/{{snapid}}/{{$index}}.png')">
    </div>
  </div>
  <div class="bottom" ng-show="numSlides">
    <div class="centered">
      <button ng-disabled="activeSlide <= 1" ng-click="activeSlide = activeSlide - 1">&lt;</button>
      &nbsp;<input type="number" ng-model="activeSlide" min="1" max="{{numSlides}}"> / {{numSlides}}
      <button ng-disabled="activeSlide >= numSlides" ng-click="activeSlide = activeSlide + 1">&gt;</button>
    </div>
  </div>
</div>
