$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
.container {
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.fullscreen {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.slideshow {
    width: 100%;
    height: 100%;
    cursor: pointer;

    .center {
        width: 100%;
        height: 100%;
    }

    .instructions {
        width: 100%;
        height: 100%;
        display: table;

        &.error {
            cursor: default;
        }

        div {
            display: table-cell;
            width: 100%;
            height: 100%;
            vertical-align: middle;
            text-align: center;
        }
    }

    .slide {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bottom {
        width: 100%;
        position: absolute;
        bottom: 0px;
        margin-bottom: 5px;

        .centered {
            display: table;
            margin: 0 auto;
        }

        input {
            width: 50px;
        }
    }
}

.upload {
    border: 5px solid rgba(0,0,0,0); // transparent border

    .drag-n-drop {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .file-name {
        margin-left: 5px;
        display: inline-block;
        width: 300px;
        min-width: 300px;
        border: 1px solid #ccc;
        background-color: #eee;
    }

    .file-select {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        // stylistic only
        background-color: #C0C0C0;
        &:hover {
            background-color: #aaa;
        }

        input {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            cursor: inherit;
            min-height: 100%;
            min-width: 100%;
            opacity: 0;
            text-align: right;
            font-size: 9999px; // to remove strange non-cursor-pointer area
        }
    }

    &.upload-drag-over {
        border: 5px dashed #999;
    }
}
